name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:

  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup environment
        uses: ./.github/actions/environment

      - name: Create .env file
        uses: SpicyPizza/create-envfile@ace6d4f5d7802b600276c23ca417e669f1a06f6f # v2.0
        with:
          envkey_BUILD: production
          envkey_DEBUG: false
          file_name: .env

      - name: Install dependencies
        uses: ./.github/actions/dependencies

      - name: Run Tests
        run: pnpm run test:unit
