name: Publish NPM
on:
  workflow_dispatch:
  release:
    types: [ created ]
permissions:
  contents: read
jobs:
  build:
    name: Build & Test & Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup environment
        uses: ./.github/actions/environment

      - name: Install dependencies
        uses: ./.github/actions/dependencies

      - run: pnpm run test
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN  }}
